*.o
*.so
*.a
*.out
*.lo
*.la
*.obj
*.dll
*.exe

*.cmd
*.ko
Module.symvers
modules.order
nvmev.mod
nvmev.mod.c

.vscode/
.vscode-test/
.vscode-cpptools/
log/

Mobibench/
mnt/
private_scripts/
f2fs_stat/
perf_stat/
perf.data*
fio_results/

# === Git ===
*.orig
*.rej
*.patch

.codex
.cache/
compile_commands.json